<div class="inmodal">
<div class="panel panel-default">
                                <div class="panel-heading">
                                   <strong><i class="fa fa-copyright"></i> Order No: {{inv.order_no}}</strong>
                                </div>
                                <div class="panel-body">
                                     <table class="table table-bordered">
        <thead>
            <tr>
                <!--th>SNo</th-->
                <!--th>Item Code</th-->
                <th>Item Name</th>
                <!--th>Item Unit</th>
                <th>Unit Price</th>
                <th>No. of Units</th-->
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stat in invoiceItems">
                <!--td>{{$index + 1}}</td-->
                <!--td>{{stat.prd_code}}</td-->
                <td>
                {{stat.prd_name}} [{{stat.prd_code}}]<BR>
                 {{stat.uom}} Price : {{stat.uom_price}}<BR>
                Num of {{stat.uom}}s : {{stat.no_of_uoms}}
                </td>
                <!--td>{{stat.uom}}</td>
                <td>{{stat.uom_price}}</td>
                <td>{{stat.no_of_uoms}} [{{stat.uom}}]</td-->
                <td>{{stat.item_qty}}</td>
                <td>{{stat.item_amount}}</td>
            </tr>
        </tbody>
        </table>
        <button ng-hide="hideCancel" type="button" class="btn btn-white pull-right" ng-click="close()"><i class="fa fa-times"></i> Close</button> 
            
        </div>

</div>                 
</div>