<div class="inmodal">
<div class="panel panel-default">
                                <div class="panel-heading">
                                   <strong><i class="fa fa-copyright"></i> Order No: {{inv.order_no}}</strong>
                                </div>
                                <div class="panel-body">
                                     <table class="table table-bordered">
        <thead>
            <tr>
                <!--th>SNo</th-->
                <!--th>Item Code</th-->
                <th>Item Name</th>
                <!--th>Item Unit</th>
                <th>Unit Price</th>
                <th>No. of Units</th-->
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stat in invoiceItems">
                <!--td>{{$index + 1}}</td-->
                <!--td>{{stat.prd_code}}<BR>
                Num of {{stat.uom}}s : {{stat.no_of_uoms}}</td-->
                <td>
                {{stat.prd_name}} [{{stat.prd_code}}]<BR>
                Price / 1 {{stat.uom}} : {{stat.uom_price}} 
                </td>
                <td>{{stat.item_qty}}</td>
                <td>{{stat.item_amount | number:2}}</td>
            </tr>
        </tbody>
        </table>
         <form class="col-lg-12 form-horizontal " ng-if="salesrep.isSO == 'Y'">
        <div class="form-group" >
             <label class="control-label ">Delivery Date</label>
            <div class="input-group date">
               <input id="from_date" ng-model="x.deliveryDate" type="datetime" class="form-control" date-time="" min-view="date" auto-close="true" format="dd/MM/yyyy">
               <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        </form>
        <button ng-hide="hideCancel" type="button" class="btn btn-white pull-right" ng-click="close()"><i class="fa fa-times"></i> Close</button> 
        <button ng-show="salesrep.isSO == 'Y' && x.adeliveryDate == undefined" type="button" class="btn btn-primary pull-right m-r-xs" ng-click="save()"><i class="fa fa-save"></i> Save</button> 
         
        </div>

</div>                 
</div>