<style>
.btn-sm-circle {
    
}    
</style>
<div class="animated fadeInRight" ng-controller="JPRetailsCtrl">
   <div class="row">
            <div class="ibox float-e-margins">
            <div class="ibox-title">
             <h5 class="text-center">My Journey Plan on {{_currDate | date:'MMMM dd,yyyy'}}
             </h5>
                 <span class="pull-right" style="margin-top:-8px"><a class="btn btn-info btn-small"><i class="fa fa-map-marker"></i></a></span>
                 <span class="pull-right m-r-sm"><strong>Total: {{totalcnt}}</strong></span>
           </div>
                <div class="ibox-content">
                    <form  >
                            <div class="input-group col-lg-12" style="display:flex">
                                <input type="text" placeholder="Search by Customer Name/Customer Code"
                                ng-model="search" name="search" class="form-control input-sm" >
                                 
                            </div>

                        </form>
                    <div class="hr-line-dashed" style="margin:5px 0"></div>
                   <div infinite-scroll='getNextPage()' infinite-scroll-disabled='retailers.retailListLoading' infinite-scroll-distance='2'>
                      <div ng-repeat='cts in retailers.spRetailList | filter:search'>
                         <div class="search-result" ng-click="startCall(cts)">
                        <h3><a href="">{{cts.cust_name}}</a></h3>
                        <a  class="search-link">
                            <small class="pull-right text-navy" ng-if="cts.visited > 0">
                            <strong>Visited</strong>
                            </small>
                            <small class="pull-right text-navy" ng-if="cts.productive > 0">
                            <button class="btn btn-info m-r-sm"
                            style="width: 20px; height: 20px; padding: 1px 0;border-radius: 15px;text-align: center;font-size: 12px;line-height: 1.428571429;margin-top:-2px" type="button">
                            <i class="fa fa-check"></i>
                            </button>
                            </small>
                             <small class="pull-right text-navy" ng-if="cts.productive === 0">
                            <button class="btn btn-btn-default m-r-sm"
                            style="width: 20px; height: 20px; padding: 1px 0;border-radius: 15px;text-align: center;font-size: 12px;line-height: 1.428571429;margin-top:-2px" type="button">
                            </button>
                            </small>
                        </a>
                        <p>
                          {{cts.addr_line1}}
                          {{cts.route_name}}
                         </p>
                    </div>
                    <div class="hr-line-dashed" style="margin:5px 0"></div>
                   </div>
                    <div class="text-center"><i class="fa fa-spin fa-spinner fa-2x" ng-show="retailers.retailListLoading"></i></div>
                   </div>
                    <!--<div class="text-center" ng-hide="retailListLoading">-->
                    <!--    <div class="btn-group">-->
                    <!--        <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>-->
                    <!--        <button class="btn btn-white">1</button>-->
                    <!--        <button class="btn btn-white  active">2</button>-->
                    <!--        <button class="btn btn-white">3</button>-->
                    <!--        <button class="btn btn-white">4</button>-->
                    <!--        <button class="btn btn-white">5</button>-->
                    <!--        <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i></button>-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>
            </div>
</div>
