<!-- add customers -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller='NewCallCtrl1'>
   <div class="row">
      <div class="ibox-content  border-bottom m-b-md" >
         <div class="form-group">
            <label class="col-lg-2 control-label">Type</label>
            <div class="col-lg-10" style="margin-top: -6px;">
               <select class="form-control"  ng-model="po.selproducttype"   ng-change="loadProducts(po)"
                  ng-options="p.id as p.prdtype_name for p in producttypes">
               </select> 
            </div>
         </div>
      </div>
      <div style="overflow: auto;max-height: 400px;">
        <table class="table  table-bordered">
         <thead>
            <tr>
               <th width="55%">Product</th>
               <th width="15%">UoM</th>
               <th width="30%">Qty</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat='p in po.products'>
               <td>{{p.prd_name}}</td>
               <td>{{p.uom}}</td>
               <td>
                  <div class="col-lg-4">
                     <input type="number" class="form-control" ng-model="p.quantity" required ng-change="setTotal(p)"/>         
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      </div>
      <div class="ibox-content" >
         <div class="form-group">
            <label class="col-lg-2 control-label">
            <span ># Items: <a ng-click="openLineItems()">{{noofitems}}</a></span></label>
            <label class="col-lg-4 control-label">
              Total: {{totalAmount}}
            </label>
            <div class="col-lg-4" style="margin-top: -6px;">
                <input type="button" class="btn btn-primary addnew pull-right m-r-xs" value="Submit" ng-click="submitOrder()">
            </div>
         </div>
      </div>
   </div>
</div>