<!-- add customers -->


<div class="wrapper wrapper-content animated fadeInRight" ng-controller='NewCallCtrl'>
    <div class="row">
        
        <div >
            <div class="ibox float-e-margins">
                <div >
                   
                       <table class="table  table-bordered">
                                <thead>
                                    <tr>
                                        <th width="70%">Product</th>
                                         <th width="30%">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='po in order'>
                                        <td>
                                        <form class="form-horizontal">
                                        <div class="form-group"><label class="col-lg-2 control-label">Type</label>
                                         <div class="col-lg-10">
                                            <select class="form-control"  ng-model="po.selproducttype"   ng-change="loadProducts(po)"
                                            ng-options="p.id as p.prdtype_name for p in producttypes">
                                            </select> 
                                        </div>
                                        </div>
                                        <div class="form-group"><label class="col-lg-2 control-label">Product</label>
                                         <div class="col-lg-10">
                                             <select class="form-control" ng-model="po.selproduct"  ng-change="setProdDetails(po.selproduct,po)"
                                            ng-options="p as p.prd_name for p in po.products">
                                            </select> 
                                        </div>
                                        </div>
                                        <div class="form-group"><label class="col-lg-2 control-label">Qty</label>
                                         <div class="col-lg-10">
                                             <input type="text" class="form-control" ng-model="po.quantity" required ng-change="setTotal(po)"/>         
                                        </div>
                                        </div>
                                         <div class="col-lg-12 " style="padding-top:5px">
                                             <input type="button" class="btn btn-danger pull-right m-l-xs" ng-click="remove($index)" value="Remove">
                                         </div>
                                         </form>
                                         </td>
                                         
                                            <td>
                                            <form class="form-horizontal">
                                            <div class="form-group">
                                            <label class="col-lg-12">Price/{{po.uom}}: {{po.price}}</label>
                                            </div>
                                            <div class="form-group" ng-if="po.scheme">
                                            <label class="col-lg-12">Discount @ {{po.scheme}}: {{po.discamount}}</label>
                                            </div>
                                            <div class="form-group">
                                            <label class="col-lg-12">SGST @ {{po.selproduct.sgst}}%: {{po.sgst}}</label>
                                            </div>
                                            <div class="form-group">
                                            <label class="col-lg-12">CGST @ {{po.selproduct.cgst}}%: {{po.cgst}}</label>
                                            </div>
                                            <div class="form-group">
                                            <label class="col-lg-12">Line Total: {{po.total}}</label>
                                            </div>
                                           </div> 
                                           </form>
                                            </td>
                                             
                                        </tr> 
                                        <tr><td></td><td>Total: {{totalAmount}}</td></tr>
                                </tbody>
                            </table>
                            <div class="m-b-xl">
                                 <input type="button" class="btn btn-primary addnew pull-right m-r-xs" value="Submit" ng-click="submitOrder()">
                                <input type="button" class="btn btn-primary addnew pull-right m-r-xs m-l-xs" value="Add New" ng-click="addNew($event)">
                                <input ng-hide="!products.length" type="button" class="btn btn-danger pull-right m-l-xs" ng-click="remove()" value="Remove">
                            </div>
                       
                </div>
            </div>
        </div>
    </div>
    
        </div>
    </div>
