<!-- add customers -->
<div class="wrapper wrapper-content animated fadeInRight" ng-controller='NewCallCtrl1'>
   <div class="row">
      <div class="ibox-content m-b-md border-bottom" >
         <div class="form-group">
            <label class="col-lg-2 control-label">Type</label>
            <div class="col-lg-10" style="margin-top:-7px">
               <select class="form-control"  ng-model="po.selproducttype"   ng-change="loadProducts(po)"
                  ng-options="p.id as p.prdtype_name for p in producttypes">
               </select> 
            </div>
         </div>
      </div>
       <div class="ibox-content m-b-md border-bottom" >
      <table class="table  table-bordered">
         <thead>
            <tr>
               <th width="55%">Product</th>
               <th width="15%">UoM</th>
               <th width="30%">Qty</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat='p in po.products'>
               <td>{{p.prd_name}}</td>
               <td>{{p.uom}}</td>
               <td>
                  <div class="col-lg-4">
                     <input type="text" class="form-control" ng-model="p.quantity" required ng-change="setTotal(p)"/>         
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      </div>
      <div class="ibox-content m-b-md border-bottom" style="overflow: auto;max-height: 300px;">
         <div class="form-group">
            <label class="col-lg-8 control-label">
            <span class="pull-right"># Items: <a href="#">{{noofitems}}</a></span></label>
            <div class="col-lg-4 text-center control-label">
              Total: {{totalAmount}}
            </div>
         </div>
      </div>
      <div class="m-b-xl">
         <input type="button" class="btn btn-primary addnew pull-right m-r-xs" value="Submit" ng-click="submitOrder()">
      </div>
   </div>
</div>