<div  ng-controller='RouteCtrl'>
             <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <i class="fa fa-map-marker"></i> Retailer Location
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                      
      <ng-map zoom="14" id="my-map"  style="height:90%" on-click="logLatLng()" >
        <directions 
          draggable="true"
          panel="directions-panel"
          travel-mode="DRIVING"
          waypoints="{{wayPoints}}"
          origin="{{origin}}"
          destination="{{destination}}">
        </directions>
         <marker ng-repeat="p in fcustomers"
        position="[{{p.lat}},{{p.lng}}]"
        data="{{$index}}"
        title="{{p.cust_name}}"></marker>
      </ng-map>  
     <!-- <ng-map zoom="11" center="[{{fcustomers[0].lat}},{{fcustomers[0].lng}}]">
      <marker ng-repeat="p in fcustomers"
        position="[{{p.lat}},{{p.lng}}]"
        data="{{$index}}"
        title="{{p.cust_name}}"></marker>
             </ng-map>  -->        
                    </form>
                </div>
            </div>    
        </div>